.content {
  display: flex;
  gap: 30px;
  padding: 30px;
}

.events {
  width: 450px;
  margin-top: 30px;
}

.calendar {
  width: calc(100% - 450px);
  height: min-content;
  position: sticky;
  top: 30px;
  display: block;
}

.event_item {
  padding: 20px;
  background: #efefef80;
  border-radius: 20px;
  margin-bottom: 30px;
  display: flex;
  align-items: flex-end;
}

.calendar_event {
  padding: 10px;
  background-color: aqua;
}

.fixed_btn {
  position: fixed;
  background: white;
  top: 30px;
}